# Basic Data Types: Integer and Float

In [4]:
# Python supports various data types. There are two main numeric data types:

int_number = 7//2 # division integer
int_number #Integer value

3

In [6]:
float_number = 7/2 #division integer or float
float_number # Float value

3.5

# Basic Data Types: String

In [13]:
# Python has extremely powerful and flexible built-in string processing capabilities.

string_a = 'a' # With single quote
string_b = "b" # With double quote

In [14]:
print(string_a)
print(string_b)

a
b

In [16]:
#Atention!!!
string_c = "'c'" # With single and double quote
print(string_c)

'c'

# Basic Data Types: None and Boolean

In [17]:
# Python also supports the None and Boolean data types.

num_x = None # Null value type
num_x is None

True

In [18]:
num_x = 10
num_x is None

False

# Type Casting

In [19]:
# Float number
float_n = 3.56788
float_n

3.56788

In [20]:
# Type cast to integer
int(float_n)

3

In [21]:
# Type cast to string value
str(float_n)

'3.56788'

# Data Structure: Tuple

In [22]:
# A tuple is a one-dimensional, immutable ordered sequence of items which can be of mixed data types.

# Create a tuple
a_tuple = (12, 'Manu', 35.6, 'show', (4,5), 'example')
a_tuple # View tuple

(12, 'Manu', 35.6, 'show', (4, 5), 'example')

In [23]:
a_tuple[1] # Access the data at index value 1

'Manu'

In [24]:
a_tuple[1] = 'Peter' # Try to modify the tuple 
# Error: A tuple is immutable and can't be modified

TypeError: 'tuple' object does not support item assignment

# Data Structure: Accessing Tuples

In [25]:
a_tuple

(12, 'Manu', 35.6, 'show', (4, 5), 'example')

In [26]:
#Access with positive index
a_tuple[2]

35.6

In [27]:
#Acess with negative index
a_tuple[-2]

(4, 5)

# Data Structure: Slicing Tuples

In [31]:
# You can also slice a range of elements by specifying the start and end indices of the desired range.

# Count starts with the first index, but stops before the second index
a_tuple[2:4]

(35.6, 'show')

In [32]:
# Even for negative indices, the count stops before the second index
a_tuple[2:-2]

(35.6, 'show')

# Data Structure: List

In [33]:
# A list is a one-dimensional, mutable ordered sequence of items which can be of mixed data types.

# Create a list
a_list = ['Manu', 12, 36.4, 'example', None, 1980]
a_list # View a list

['Manu', 12, 36.4, 'example', None, 1980]

In [34]:
# Modify a list: Add new items

a_list.append('Lilica')
a_list

['Manu', 12, 36.4, 'example', None, 1980, 'Lilica']

In [35]:
# Modify a list: Remove items
a_list.remove('Manu')
a_list

[12, 36.4, 'example', None, 1980, 'Lilica']

In [36]:
# Access and remove list data using element indices
a_list.pop(2)

'example'

In [37]:
# Modify a list: Insert a new item at a certain index

a_list.insert(1, 'Coquito')
a_list

[12, 'Coquito', 36.4, None, 1980, 'Lilica']

# Data Structure: Accessing Lists

In [38]:
# Just like tuples, you can access elements in a list through indices.

a_list # New modified list

[12, 'Coquito', 36.4, None, 1980, 'Lilica']

In [39]:
# Acess with positive index
a_list[2]

36.4

In [40]:
# Acess with negative index
a_list[-2]

1980

# Data Structure: Slicing Lists

In [41]:
# Similar to tuples, you can also slice lists through indices.

# Count starts with the first index, but stops before the second index
a_list[2:4]

[36.4, None]

In [42]:
# Even for negative indices, the count stops before the second index
a_list[2:-2]

[36.4, None]

# Data Structure: Dictionary

In [43]:
# You can view the keys and values in a dict, either separately or together, using the syntax shown here.

# Create a dcitionary
a_dict = {'Manu': 'manu@player.com', 'Lilica': 'lilica@read.com', 'id':[10,43]}
a_dict # View entire dictionary

{'Manu': 'manu@player.com', 'Lilica': 'lilica@read.com', 'id': [10, 43]}

In [44]:
# View only keys
a_dict.keys()

dict_keys(['Manu', 'Lilica', 'id'])

In [45]:
# View only values
a_dict.values()

dict_values(['manu@player.com', 'lilica@read.com', [10, 43]])

# Data Structure: Access and Modify dict Elements

In [51]:
# You can also access and modify individual elements in a dict.

# Access with key
a_dict['Lilica']

'lilica@read.com'

In [50]:
a_dict['id']

[10, 43]

In [52]:
# Modify dictionary: update
a_dict.update({'id':[12,44]})
a_dict

{'Manu': 'manu@player.com', 'Lilica': 'lilica@read.com', 'id': [12, 44]}

In [53]:
# Modify dictionary: delete

del a_dict['id']
a_dict

{'Manu': 'manu@player.com', 'Lilica': 'lilica@read.com'}

# Data Structure: Set

In [55]:
# A set is an unordered collection of unique elements.

# Create a set

band_survey = set(['Iron Maiden', 'Metalica', 'U2', 'Credance', 'Kansas', 'ZZ Top', 'Blik'])
band_survey # View the set

{'Blik', 'Credance', 'Iron Maiden', 'Kansas', 'Metalica', 'U2', 'ZZ Top'}

In [56]:
# Creat a set

band_survey_set = {'Iron Maiden', 'Metalica', 'U2', 'Credance', 'Kansas', 'ZZ Top', 'Blik'}
type(band_survey_set)

set

In [57]:
band_survey_set # View the set

{'Blik', 'Credance', 'Iron Maiden', 'Kansas', 'Metalica', 'U2', 'ZZ Top'}

# Data Structure: Set Operations

In [58]:
# Let us look at some basic set operations.

# Create sets
band_1 = set(['Iron Maiden', 'Metalica', 'U2', 'Credance', 'Kansas', 'ZZ Top', 'Blik'])
band_2 = set(['Iron Maiden', 'Metalica', 'Bon Jovi', 'Nirvana', 'Green Day', 'ZZ Top', 'B52'])

In [61]:
# OR - Union set operation
combined_report = band_1 | band_2

In [62]:
# View the output of the OR operation
combined_report

{'B52',
 'Blik',
 'Bon Jovi',
 'Credance',
 'Green Day',
 'Iron Maiden',
 'Kansas',
 'Metalica',
 'Nirvana',
 'U2',
 'ZZ Top'}

In [63]:
# AND â€“ Intersection set operation
common_report = band_1 & band_2

In [64]:
# View the output of the AND operation
common_report

{'Iron Maiden', 'Metalica', 'ZZ Top'}

# Basic Operator: in

In [65]:
# The in operator is used to generate a Boolean value to indicate whether a given value is present
# in the container or not.

# Create list
band_list = ['Iron Maiden', 'Metalica', 'Bon Jovi', 'Nirvana', 'Green Day', 'ZZ Top', 'B52']

In [66]:
# Test presence of string with in operation
'U2' in band_list

False

In [67]:
'Metalica' in band_list

True

In [68]:
# Create a string
word = 'encyclopedia'

In [69]:
# Test presence of substrings with in operator
't' in word

False

In [70]:
'i' in word

True

# Basic Operator: +

In [79]:
# The plus operator produces a new tuple, list, or string whose value is the concatenation of its arguments.

# Create tuples
tuple_1 = (10, 20, 30)
tuple_2 = (11, 22, 33)

In [80]:
# Add tuples

tuple_3 = tuple_1 + tuple_2
tuple_3

(10, 20, 30, 11, 22, 33)

In [81]:
#Create lists
list_1 = ['10', '20', '30']
list_2 = ['11', '22', '33']

In [82]:
# Add lists
list_3 = list_1 + list_2
list_3

['10', '20', '30', '11', '22', '33']

In [83]:
# Create strings
first_name = 'Manu'
last_name = 'Ribeiro'

In [84]:
# Concatenate strings
full_name = first_name + ' ' + last_name
full_name

'Manu Ribeiro'

In [85]:
#Atention!!
full_name = first_name + last_name
full_name

'ManuRibeiro'

# Basic Operator: *

In [86]:
# The multiplication operator produces a new tuple, list, or string that repeats the original content.

# * operator with tuple
age = (12, 17, 9) * 3
age

(12, 17, 9, 12, 17, 9, 12, 17, 9)

In [87]:
# * operator with list
ID = [101, 23, 77, 45] * 2
ID

[101, 23, 77, 45, 101, 23, 77, 45]

In [91]:
# * operator with string
name = 'Manu' * 5
name

'ManuManuManuManuManu'

### The * operator does not actually multiply the values; it only repeats the values for the specified number of times.