##  Functions are the primary and most important method of code organization and reuse in Python.

Use **def** to create a function and assign it a name.

# Functions: Considerations

Some important points to consider while defining functions:
    
• A function should always have a **return** value.

• If **return** is not defined, then it returns **None**.

• Function overloading is not permitted.

In [2]:
# function name is my_name
# argument is name
# return value is name


def my_name (name):
    return name

print(my_name('Patrick'))

Patrick

# Functions: Returning Values

In [3]:
# You can use a function to return a single value or multiple values.

# Create function
def add_2_numbers(num1, num2):
    return num1 + num2

x = 23
y = 47.5
result = add_2_numbers(x, y) # Call function
result

70.5

In [9]:
# Create function

def profile():
    age = 21
    height = 5.5
    weight = 130
    return age, height, weight # Multiple return

age, height, weight = profile() # Call function

In [10]:
print(age, height, weight)

21 5.5 130

# Built-in Sequence Functions

## Built-in Sequence Functions: enumerate

In [12]:
# enumerate: Indexes data to keep track of indices and corresponding data mapping

fruit_list = ['appel', 'pear', 'grape', 'orange', 'limon', 'coconut']

In [14]:
# Print data element and indez using enumerate method

for position, name in enumerate(fruit_list):
    print(position, name)

0 appel
1 pear
2 grape
3 orange
4 limon
5 coconut

In [16]:
# Create a data element and index map using dict
fruit_map = dict((name, position) for position, name in enumerate(fruit_list))

In [17]:
# View the fruit map in the form of key-value pair
fruit_map

{'appel': 0, 'pear': 1, 'grape': 2, 'orange': 3, 'limon': 4, 'coconut': 5}

## Built-in Sequence Functions: sorted

In [18]:
# Sort numbers
sorted([91, 43, 65, 56, 7, 33, 21])

[7, 21, 33, 43, 56, 65, 91]

In [19]:
# Sort a string value
sorted('The data science')

[' ',
 ' ',
 'T',
 'a',
 'a',
 'c',
 'c',
 'd',
 'e',
 'e',
 'e',
 'h',
 'i',
 'n',
 's',
 't']

## Built-in Sequence Functions: reversed and zip

In [20]:
# Create a list of numbers for range 15
num_list = range(15)

In [21]:
# Use reversed function to reverse the order
list(reversed(num_list))

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [22]:
# Define list of subjects and count
subjects = ['math', 'statistics', 'algebra']
subject_count = ['one', 'two', 'three']

In [34]:
# Zip function to pair the data elements of tuples
total_subject = zip(subjects, subject_count)
for t in total_subject:
    print(t)

('math', 'one')
('statistics', 'two')
('algebra', 'three')

In [35]:
type(total_subject)

zip

In [38]:
type(t)

tuple

In [36]:
total_subject = list(zip(subjects, subject_count))
total_subject # Returns list of tuples

[('math', 'one'), ('statistics', 'two'), ('algebra', 'three')]

In [37]:
type(total_subject)

list

# Control Flow Statements: if, elif, else

In [39]:
# The if, elif, and else statements are the most commonly used control flow statements.

In [40]:
age = 21

# if condition
if age < 18:
    print('minor')
# else block
else:
    print('adult')

adult

In [41]:
marks = 81

# Nested if, elif and else

if marks > 90:
    print('grade A')
elif 80 <= marks <= 90:
    print('grade B')
elif 70 <= marks <= 80:
    print('grade C')
elif 60 <= marks <= 70:
    print('grade D')
else:
    print('grade E')

grade B

# Control Flow Statements : for Loops

In [42]:
# A for loop is used to iterate over a collection (like a list or tuple) or an iterator.

In [55]:
stock_tickers = ['AAPL', 'MSFT', 'GOOGL', None, 'AMZN', 'CSCO', 'ORCEL']

In [57]:
#For loop iterator
for tickers in (stock_tickers):
    if(tickers is None):
        continue # The continue statement
    print(tickers)

AAPL
MSFT
GOOGL
AMZN
CSCO
ORCEL

In [58]:
for tickers in (stock_tickers):
    if(tickers is None):
        break # The break statement
    print(tickers)

AAPL
MSFT
GOOGL

# Control Flow Statements : while Loops

In [ ]:
# A while loop specifies a condition and a block of code that is to be executed until 
# the condition evaluates to False or the loop is explicitly ended with break.

In [59]:
# While condition

temperature = 100

while temperature > 95:
    print(temperature)
    temperature = temperature -1

100
99
98
97
96

# Control Flow Statements : Exception Handling

In [60]:
# Handling Python errors or exceptions gracefully is an important 
# part of building robust programs and algorithms.

In [61]:
#  Create function

def test_float(number):
    return float(number)

In [62]:
test_float(7.1231254)

7.1231254

In [63]:
# Pass wrong argument type 
test_float('test_float')
# Error: not convert string to float

ValueError: could not convert string to float: 'test_float'

In [64]:
# Exception handling with try-except block
def test_float(number):
    try: 
        return float(number)
    except ValueError:
        return 'not number, the input value is', number

In [65]:
test_float('test_float')

('not number, the input value is', 'test_float')